.description {
    text-align: center !important;
}

.home-category-spenden {
  display: flex;
  height: 200px;
  text-decoration: none;
  color: white;
  text-align: center !important;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("slider_image_3.jpeg"));
}

.home-category-projekte:hover , .home-category-stiftung:hover  , .home-category-spenden:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.home-category-projekte {
  text-decoration: none;
  display: flex;
  height: 200px;
  color: white;
  text-align: center !important;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("slider_image_2.jpeg"));
}

.home-category-stiftung {
  text-decoration: none;
  height: 200px;
  display: flex;
  color: white;
  text-align: center !important;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("slider_image_1.jpeg"));
}

.eroeffnungstext, .wir-ueber-uns, .persoenliches-motiv {
  margin-top: 40px;
}

.bild-vorstand {
  display: inline-block;
  width: 600px;
  height: 400px;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("bild_vorstand.jpg"));
}

.bild-vorstand-wibke {
  display: inline-block;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("bild_vorstand_wibke_kleiner.jpeg"));
  background-size: cover;
}

// Specific CSS for your home-page
.home-categories {
  display: grid;
  grid-gap: 16px;
  margin-top: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-categories {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-categories {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
