
.project-card-image {
  img {
  width: 650px;
  height: 100%;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}

.project-card-title, .project-card-description {
  padding-left: 40px;
  padding-top: 50px;
  text-align: left;
  margin-top: 10px;
}

.project-card {
  color: white;
  margin-top: 30px;
  background-color: #03284E;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1));
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// Media queries

// Small devices (landscape phones, 576px and up)
@media (min-width: 50px) {
  .project-card {
    height: 600px;
  }
}
@media (min-width: 650px) {
  .project-card {
    height: 400px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project-card {
    height: 600px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-card {
    height: 600px;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project-card {
    height: 450px;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
  }
 }
