.project-card {
  color: white;
  background-color: #032242;
  border-radius: 0;
  justify-content: space-between;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.project-card-information {
  padding: 30px;
}

.project-card-description p {
  text-align: center !important;
}

.project-card {
  width: 500px;
  height: 400px;
}

.projekte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

@media(max-width: 1100px) {
  .projekte {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .projekte {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) {
  .projekte {
    grid-template-columns: 1fr;
  }
}
