<div class="banner-projekte">
  <div class="banner-projekte-title">
    <h1>Projekte</h1>
    <p>Entdecken Sie hier alle Projekte, die durch die Stiftung umgesetzt worden konnten.</p>
  </div>
  <div class="buttons-projekte">
    <div class="buttons-projekte-second">
      <%= link_to "Spenden", spenden_path, class: "btn btn-green" %>
    </div>
  </div>
</div>
