<div class="banner-home">
  <div class="banner-home-title">
    <h1>Aquarium Research Foundation</h1>
    <p>Eine Stiftung für die Rettung der Meere.</p>
  </div>
  <div class="buttons-home">
    <div class="buttons-home-first">
      <%= link_to "Projekte", projekte_path, class: "btn btn-primary button-home-projekte"%>
      <%= link_to "Infos zur Stiftung", stiftung_path, class: "btn btn-primary button-home-stiftung" %>
    </div>
    <div class="buttons-home-second">
      <%= link_to "Spenden", spenden_path, class: "btn btn-green" %>
    </div>
  </div>
</div>
