<div class="banner-spenden">
  <div class="banner-spenden-title">
    <h1>Spenden</h1>
    <p>Helfen Sie uns die Forschung voran zu bringen und dabei den Erhalt der Meere einen Schritt voran zu kommen.</p>
  </div>
  <div class="buttons-spenden">
    <div class="buttons-spenden-second">
      <%= link_to "Infos zur Stiftung", stiftung_path, class: "btn btn-green" %>
    </div>
  </div>
</div>
