<div class="footer">
  <div class="footer-information">
    <%= link_to "Kontakt", projekte_path, class: "nav-link" %>
    <%= link_to "AGB", projekte_path, class: "nav-link" %>
    <%= link_to "Datenschutz", projekte_path, class: "nav-link" %>
    <%= link_to "Impressum", projekte_path, class: "nav-link" %>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © Aquarium Research Foundation 2020, all rights reserved
  </div>
</div>
