<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-information">
    <p><%= link_to "Kontakt", kontakt_path, class: "nav-link"%></p>
    <p><%= link_to "AGB", agb_path, class: "nav-link" %></p>
    <p><%= link_to "Datenschutz", datenschutz_path, class: "nav-link" %></p>
    <p><%= link_to "Impressum", impressum_path, class: "nav-link" %></p>
  </div>
  <div class="footer-copyright">
    <p>© Aquarium Research Foundation 2020, all rights reserved</p>
  </div>
</div>
