<div class="container-fluid">
  <p>
    Der Verein „Aquarium Research Foundation“ e.V. wurde laut Mitteilung des Amtsgerichts Charlottenburg am 03.07.2019 unter dem Aktenzeichen VR 37519 B mit der laufenden Nummer 1 in das Vereinsregister eingetragen (s. PDF: Amtsgericht-Charl_Bestaet-Eintr_Vereinsreg_040719b.pdf).

    Entsprechend des Schreibens vom Finanzamt für Körperschaften I vom 15.07.2019 erfüllt die Satzung der Körperschaft Aquarium Research Foundation e.V. in der Fassung vom 01.06.2019 die satzungsmäßigen Voraussetzungen nach den §§ 51, 59, 60 und 61 AO (PDF?).

    In einem weiteren Schreiben des Finanzamts für Körperschaften I vom 18.07.2019 wurde bestätigt, dass der Verein Aquarium Research Foundation e.V. satzungsmäßig steuerbegünstigen Zwecken dient, und somit als gemeinnützig anerkannt ist (PDF?).
  </p>

  <div class="spenden-konto">
    <h3>Spenden-Konto:</h3>
     <p>Konto-Inhaber:  Aquarium Research Foundation e.V.
       <br>Konto-Nr.:  1018978300
       <br>IBAN: DE62 4306 0967 10189783 00
       <br>BIC:  GENODEM1GLS
       <br>BANK: GLS Gemeinschaftsbank eG
     </p>
  </div>

  <div class="impressum">
    <h3>Impressum:</h3>
    <p>
      Aquarium Research Foundation e.V.
      <br> c/o Dr. Emanuel Hensel
      <br>Kyllmannstr. 8E
      <br>14109 Berlin
      <br>Amtsgericht Charlottenburg
      <br>VR 37519
      <br>Steuer-Nr.: 27/640/60937
    </p>
  </div>

  <div class="satzung">
    <h3>Satzung</h3>
    <p>Laden Sie <a href="https://res.cloudinary.com/drfq8q8mo/image/upload/v1597830115/Aquarium%20Research%20Foundation/Aquarium-Research-Foundation-eV_Satzung_010619_zhadyo.pdf" target="blank">hier</a> unsere Satzung herunter.</p>
</div>

</div>
