<div class="container-fluid">
  <div class="kontakt">
    <h3>Kontakt</h3>
    <p>Aquarium Research Foundation e.V.</p>
    <p>c/o Dr. Emanuel Hensel</p>
    <p>Kyllmannstr. 8E</p>
    <p>14109 Berlin</p>
    <br>
    <p><b>E-Mail:</b></p>
    <p>ehensel@aquarium-research-foundation.org (einrichten!)</p>
    <p>cwolke@aquarium-research-foundation.org</p>
    <p>wkleiner@aquarium-research-foundation.org</p>
    <p>wolke@aquarium-research-foundation.org</p>

    <p><b>Mobil:</b></p>
    <p>0172 xxxx</p>
  </div>
</div>
