<div class="container-fluid">

  <div class="projekte">

    <h1>Projekte</h1>

    <div class="project-card">
      <div class="project-card-title">
        <h3>Hydrophonen & Knurrhähnen</h3>
      </div>
      <div class="project-card-image">
        <img src="assets/hydrophone-knurrhaehne.jpeg" alt="Hydrophonen & Knurrhähnen">
      </div>
      <div class="project-card-description">
        <p>jojpojohnihnphnpojojopjp</p>
      </div>
    </div>

  </div>

</div>
