<div class="container-fluid">

<div class="spenden-title">
  <h3>Sie wollen die Stiftung <strong>Aquarium Research Foundation</strong> unterstützen?</h3>
  <p>Dann freuen wir uns sehr über eine finanzielle Unterstützung von Ihnen.</p>
  <p>Der von Ihnen überwiesene Betrag wird vollkommen und ausschließlich der Stiftung zukommen.</p>
  <p>Selbstverständlich erhalten Sie für Ihre Spende auch eine Quittung für die Steuererklärung.</p>
</div>
<div class="paypal-payments">
  <div class="paypal-buttons">
    <%= render 'shared/paypal_buttons' %>
  </div>
</div>

</div>
