<%= render 'shared/banner-spenden' %>
<div class="container-fluid all-pages">

<div class="spenden-title">
  <h3>Sie wollen die Stiftung <b>Aquarium Research Foundation</b> unterstützen?</h3>
  <p>Dann freuen wir uns sehr über eine finanzielle Unterstützung von Ihnen.</p>
  <p>Der von Ihnen überwiesene Betrag wird vollkommen und ausschließlich der Stiftung zukommen.</p>
  <p>Selbstverständlich erhalten Sie dafür auch eine Quittung.</p>
  <p>Wussten Sie, dass Spenden <b>steuerlich abgesetzt</b> werden können?</p>
</div>
<div class="paypal-payments">
  <div class="paypal-buttons">
    <%= render 'shared/paypal_buttons' %>
  </div>
</div>

</div>
