<div class="container-fluid">


<h1>Sie wollen uns gern unterstützen?</h1>
<div class="paypal-payments">
  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
  <script>paypal.Buttons().render('body');</script>
</div>

</div>
