<div class="container-fluid">
  <div class="stiftung-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.jpg" %>
    <% end %>
  </div>
  <div class="stiftung-content">
    <h2>Eine Chance ergreifen um eine Vision zu verwirklichen</h2>
  </div>
  <div class="stiftung-content">
    <h3>Hintergrund</h3>
    <p>Die Zerstörung der natürlichen Lebensräume und die Ausbeutung der natürlichen Ressourcen nimmt weiter kontinuierlich zu.
      Nach Worm et al. (2006)*1 wird es im Jahr 2048 bei Fortsetzung der heutigen Befischung und der Meeresverschmutzung keine Fische mehr in unseren Ozeanen geben.
      Wir Menschen aber haben einen instinktiven Hang zur Natur, die sogn. Biophilie (E. O. Wilson in: Etzold, 2007)*2.
      Insbesondere die häufig der Natur entwöhnte Stadtbevölkerung (Hediger in: Etzold, 2007)*3 versucht durch die sinnliche Wahrnehmung der Tiere in Zoos und Aquarien ihren „Naturhunger“ zu stillen, der somit ein wichtiger Erfolgsgarant ist.
    </p>
  </div>
  <div class="stiftung-content">
    <h3>Aquarien</h3>
    <p>Die Präsentation des Lebens unserer Ozeane, Seen und Flüsse ist weit mehr als die Erfüllung eines Selbstzweckes, es ist eine Passion und der Kern der professionellen Aquaristik. Die Aquarien unterliegen einer fortschreitenden technischen Progression, und Vertreter der ersten Generation wurden 1867 in Paris, 1869 in Berlin, 1872 in Brighton, 1874 in Neapel, 1896 in New York, 1902 auf Helgoland und 1904 in Honolulu eröffnet.
      Infolge bedeutender technischer Neuerungen in den letzten 30 Jahren konnten faszinierende Unterwasserwelten geschaffen werden, die nahezu perfekte Kopien natürlicher Habitate und Ökosysteme sind (Aquarien der 5. Generation). So ermöglichte beispielsweise die Entwicklung und Verwendung von Acrylglas die Gestaltung unterschiedlich geformter Scheiben flexibler Dicke, bis hin zu meterlangen Tunneln, die dem Besucher erlauben Teil dieser einzigartigen Unterwasserwelt zu werden – ohne Gummistiefel, Badebekleidung oder Tauchausrüstung. Und die Herstellung von künstlichem Meersalz führte zur Etablierung von großen Meerwasseraquarien im Binnenland.
      Seit ihres Bestehens stand jedoch überwiegend der Schau- bzw. Präsentationscharakter der Aquarien im Vordergrund. Heute sind sie anerkannt als Zentren für Unterhaltung, Bildung, Artenschutz und Forschung.
      Die Wissenschaft nimmt allerdings immer noch einen geringeren Stellenwert ein, und wird nur in einigen Aquarien als integraler Bestandteil praktiziert, wie z.B. am Monterey Bay Aquarium, dem Scripps Oceanographic Institut (beide USA) oder dem Marinepark – L’Oceanogràfic in Valencia, Spanien.
    </p>
  </div>
  <div class="stiftung-content">
    <h3>Naturschutz und Forschung</h3>
    <p>Die Aquarien der 5. Generation weisen nicht nur spektakuläre Gestaltungen der Becken auf, sondern sie besitzen auch gigantische Dimensionen: Beispielsweise 7 Mill. Liter Meerwasser im Oceanos-Becken des Marineparks in Valencia (Spanien),  11 Mill. Liter Meerwasser im Hauptbecken der Dubai-Mall und dem des Lost Chambers Aquariums (Atlantis The Palm, Dubai), oder gar 18. Mill. Liter Meerwasser im Hauptbecken des S.E.A. Aquariums in Singapur.
      Diese immensen räumlichen Dimensionen bieten nicht nur für die Präsentation der Fische völlig neue Möglichkeiten, sondern auch für die Forschung. Viele Aquarien sind aktiv am Naturschutz beteiligt, und engagieren sich für die Sensibilisierung der Gesellschaft durch gezielte Öfffentlichkeitsarbeit. Noch selten sind jedoch „indoor“-Forschungsprojekte in Aquarien.
      Einerseits weil die Durchführung nicht immer einfach ist aufgrund der speziellen Bedingungen vor Ort. So sind bioakustische Untersuchungen nur möglich bei der Vermeidung der Überlappung von Signalen, die durch die Beckenform bzw. dessen Design entstehen kann. Aber andererseits eignet sich die große Anzahl an riesigen Becken perfekt als Forschungsstätte. Warum? Weil es keiner teuren Forschungsschiffe, deren Crews und idealen Wetterbedingungen bedarf, d.h. immer dieselben konstanten Versuchsbedingungen gegeben sind.
    </p>
  </div>

<!--
  <p><a onclick="javascript:ShowHide('HiddenDiv')", class="btn btn-secondary">Mehr Informationen</a></p>
  <div class="mid" id="HiddenDiv" style="display: none;"> -->


    <div class="stiftung-content">
      <h3>Zweck der Stiftung</h3>
      <p>Der Zweck der Stiftung ist die Förderung der Forschung in öffentlichen und privaten Aquarien, ihre Implementierung und die Durchführung. Außerdem werden Forschungsprojekte gefördert, die in der freien Natur und/oder dem Labor stattfinden, und im relevanten Zusammenhang zu Aquarien stehen.
        Des Weiteren unterstützt die Stiftung, auch als Konsequenz der Forschung in Aquarien, die Etablierung einer neuen wissenschaftlichen Disziplin, der Aquariologie (McCormick-Ray, 1993)*4. Diese Aquariums-Wissenschaft beinhaltet alle aquarienspezifischen Forschungsbereiche, von der Planung eines Aquariums, über die Konstruktion, seinen Betrieb, personal- und publikumstechnische Fragestellungen, sowie mit besonderem Schwerpunkt alle biologischen, veterinärmedizinischen, physikalischen und chemischen Aspekte der Haltung der Tiere. Maßgeblich ist auch die Nachhaltigkeit der Projekte.
        Das langfristige Ziel ist die Schaffung von Aquarien der 6. Generation, bei denen die Forschung grundlegender Bestandteil der Institution ist.
      </p>
    </div>
    <div class="stiftung-content">
      <h3>Weitere Schritte</h3>
      <p id="ansaetze">Um Forschung in Aquarien weiter zu etablieren, sind verschiedene Ansätze möglich und nötig:</p>
      <p>1.  Eine Bestandsanalyse liefert Daten über die aktuelle Forschungssituation in Aquarien weltweit. Dieser Prozess wird Zeit und Arbeitskraft in Anspruch nehmen. Das Ergebnis wird verdeutlichen welcher Forschungsschwerpunkt zur Zeit gegeben ist, z.B. technische oder eher Fisch spezifische Fragestellungen.</p>
      <p>2.  Die Stiftung als Zentrum der Forschung in Aquarien:  Um den Bekanntheitsgrad der Stiftung zu steigern und sie als Kompetenzzentrum zu etablieren, wird gezielt an Aquarien, Universitäten und Forschungseinrichtungen auf sie und ihre Arbeit aufmerksam gemacht werden.</p>
      <p>3.  Netzwerk: Ein weiterer Schwerpunkt der Stiftung wird der Aufbau eines internationalen Netzwerkes zwischen den forschenden Institutionen sein, um die verschiedensten Projekte weltweit optimal miteinander zu koordinieren und zukünftige so effizient wie möglich zu gestalten.</p>
    </div>
      <div class="stiftung-content">
      <h3>Finanzmittel</h3>
      <p>1. Weil so oft die Finanzierung der limitierende Faktor ist, wird die Aquarium Research Foundation die finanzielle Ausstattung ausgewählter Projekte übernehmen. Außerdem wird sie Knowhow und Arbeitskraft zur Verfügung stellen.</p>
      <p>2. Der Betrag der zur Verfügung gestellten finanziellen Mittel hängt vom Projekt im allgemeinen, aber auch von der Dauer, dem Gegenstand der Forschung, dem Personalaufwand usw. ab. Auch Teilfinanzierungen sind möglich.</p>
      <p>3. Auch Stipendien werden vergeben.</p>
      <%= link_to "Jetzt Spenden", spenden_path, class: "btn btn-green" %>
    </div>
    <div class="stiftung-content">
      <h3>Implementierung und Durchführung</h3>
      <p>1. Aktive Begleitung der Implementierung und Durchführung von wissenschaftlichen Experimenten in den Aquarienbecken (sowohl den Schaubecken als auch im Backstage-Bereich) und der freien Natur</p>
      <p>2. Durchführung wissenschaftlicher Experimente unter Einbeziehung des Publikums, d.h. mit inhalts- und versuchsspezifischen Erläuterungen</p>
      <p>3. Citizen Science: Speziell strukturierte Experimente werden von den Besucherinnen und Besucher durchgeführt. Zum Beispiel die Vermessung von Muschelschalen zur Untersuchung der Populationsdynamik dieser Art etc.</p>
    </div>
    <div class="stiftung-content" id="quellen">
      <p>*1 Boris Worm et al., 2006. Impacts of Biodiversity Loss on Ocean Ecosystem Services. Science 314, p. 787-790
        *2 E. O. Wilson in: Sabine Etzold. Die Zeit. 26.04.2007.
        *3 Hediger, Heini, 2007. In: Die menschengerechte Wildnis. Sabine Etzold. Die Zeit. 26.04.2007.
        *4 M. Geraldine McCormick-Ray, 1993. Aquarium Science: The Substance Behind an Image. Zoo Biology 12: 413-424.
      </p>
    </div>



  </div>
  <!-- <script type="text/javascript">// <![CDATA[
    function ShowHide(divId)
    {
    if(document.getElementById(divId).style.display == 'none')
      {
      document.getElementById(divId).style.display='block';
      }
    else
      {
      document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]></script> -->

</div>
