.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("slider_image_1.jpeg"));
  width: 100%;
  height: 600px;
  margin-top: 0;
  background-size: cover;
  color: white;
  h1, p {
    text-align: left !important;
  }
}

.banner-home-title {
  padding-top: 160px;
  margin-left: 80px;
  p {
      padding-left: 10px;
  }
}

.buttons-home {
  width: 300px;
  margin-left: 90px;
}

.button-home-projekte {
  width: 38%;
  height: 35px;
}

.button-home-stiftung {
  width: 60%;
  height: 35px;
}

.buttons-home-second {
  margin-top: 5px;
  .btn-green {
  width: 100%;
  }
}
