.btn-primary {
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #167FFB;
  transition: opacity 0.3s ease;
  color: white;
  vertical-align: center;
  text-align: center;
}

.btn-primary:hover {
  background-color: #167FFB;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  color: white;
}

.btn-green {
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #A7C454;
  transition: opacity 0.3s ease;
  color: white;
  vertical-align: center;
  text-align: center;
}

.btn-green:hover {
  background-color: #A7C454;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  color: white;
}





.btn-secondary {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  transition: opacity 0.3s ease;
  color: white !important;
  vertical-align: center;
  text-align: center;
}

.btn-secondary:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}


