.btn-primary {
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  background-color: $blue;
  transition: opacity 0.3s ease;
  color: white;
  height: 30px;
  vertical-align: center;
  text-align: center;
}

.btn-primary:hover {
  background-color: $blue;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  color: white;
}
