.navbar-fix {
  justify-content: space-between;
  background: white;
}

.nav-item a {
  color: #24215E;
  font-size: 16px;
  font-weight: semi-bold;
}

.navbar-fix .navbar-collapse {
  flex-grow: 0;
}

.navbar-fix .navbar-brand img {
  width: 40px;
}
